@use '../abstracts' as *;

.arrow {
  position: absolute;

  &:hover {
    &__icon-link {
      border-color: $white-color;
    }
    .hero-slider__to-projects-icon {
      transform: scale(1.3);
    }
  }

  &--next {
    transform: rotate(-90deg);
  }

  &--prev {
    transform: rotate(90deg);
  }

  &__icon-link {
    @include transition(border-color 0.1s ease-in-out);
    border-color: $white-color-07;
  }

  &__icon {
    @include transition(transform 0.5s ease-in-out);
  }
}

.hero {
  .arrow {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    @include for-tablet-landscape-down {
      bottom: 30px;
    }
    @include for-phone-only {
      bottom: 20px;
    }
  }
}

.news {
  .arrow--prev,
  .arrow--next {
    top: 46.5%;
    @include for-phone-only {
      display: none;
    }
  }

  .arrow--prev {
    left: 20px;
    @include for-phone-only {
      left: 10px;
    }
  }

  .arrow--next {
    right: 20px;
    @include for-phone-only {
      right: 10px;
    }
  }
}
