<a href="#" aria-label="@@ariaLabel" class="swiper-slide news-slider__item">
  <article class="news-slider__item-post">
    <img src="@@imgSrc" alt="@@imgAltText" class="news-slider__item-image" width="370" height="240" />
    <div class="news-slider__item-text-content">
      <h4 class="news-slider__item-title">@@title</h4>
      <p class="news-slider__item-description">@@description</p>
      <div class="news-slider__item-author-info">
        <img src="@@avatarImg" alt="@@avatarImgAltText" class="news-slider__item-author-photo" width="60" height="60" />
        <div class="news-slider__item-post-details">
          <span class="news-slider__item-author-name">@@authorName</span>
          <time datetime="@@dateTime" class="news-slider__item-post-date">@@dateTimeTextContent</time>
        </div>
      </div>
    </div>
  </article>
</a>
