<section id="contact" class="container container--small contacts">
  <h2 class="heading">GET IN TOUCH</h2>
  <div class="contacts__info-block">
    <address class="contacts__contacts">
      <p class="contacts__contact-info">
        <svg class="text-icon text-icon--violet">
          <use xlink:href="./assets/svg/sprite.svg#location-dot-icon" />
        </svg>
        91 Nolan Extensions Suite 670
      </p>
      <p class="contacts__contact-info">
        <svg class="text-icon text-icon--violet">
          <use xlink:href="./assets/svg/sprite.svg#phone-icon" />
        </svg>
        <a
          href="tel:+0013568682454"
          target="_blank"
          aria-label="Contact us by this phone number"
          class="contacts__contact-info-link"
          >+001 356-868-2454</a
        >
      </p>
      <p class="contacts__contact-info">
        <svg class="text-icon text-icon--violet">
          <use xlink:href="./assets/svg/sprite.svg#inbox-icon" />
        </svg>
        <a
          href="mailto:montichello@service.com"
          target="_blank"
          aria-label="Contact us by this email"
          class="contacts__contact-info-link"
          >montichello@service.com</a
        >
      </p>
      <p class="contacts__contact-info">
        <svg class="text-icon text-icon--violet">
          <use xlink:href="./assets/svg/sprite.svg#clock-icon" />
        </svg>
        From 07:05AM to 19:30PM
      </p>
    </address>
    <form action="#" method="post" name="contact-form" class="contacts__form">
      <input type="text" id="name" name="name" required autocomplete="off" placeholder="Name" class="contacts__input" />
      <span class="contacts__message contacts__name-message">Name should consist of 3-14 letters.</span>
      <input
        type="email"
        id="email"
        name="email"
        required
        autocomplete="off"
        placeholder="Email"
        class="contacts__input"
      />
      <span class="contacts__message contacts__email-message">Only '&#64;gmail.com' is accepted.</span>
      @@include("../partials/button.html", {"component": "contacts", "type": "submit", "color": "violet"})
    </form>
  </div>
</section>
