<footer class="section footer">
  <img
    src="./assets/images/footer/scott-webb-1764342.webp"
    alt="Gradient in blue and violet colors with slightly noticeable parts of buildings."
    class="footer__bg-image"
  />
  <div class="footer__overlay">
    <div class="container container--small footer__inner">
      <div class="footer__wrap">
        @@include("../partials/logo.html", { "layout": "footer" }) @@include("../partials/social-icons.html")
      </div>
      <p class="footer__copyright">Copyrights &copy; 2020 Montichello</p>
    </div>
  </div>
</footer>
