<header class="header">
  <div class="container header__inner">
    @@include("../partials/logo.html")

    <nav class="header__nav">
      <a href="#about" aria-label="Link to About" class="header__nav-link">ABOUT US</a>
      <a href="#projects" aria-label="Link to Projects" class="header__nav-link">PROJECTS</a>
      <a href="#news" aria-label="Link to News" class="header__nav-link">NEWS</a>
      <a href="#contact" aria-label="Link to Contact" class="header__nav-link">CONTACT</a>
    </nav>

    @@include("../partials/social-icons.html")

    <div id="burger" class="header__burger header__burger--squeeze">
      <div class="header__burger-box">
        <div class="header__burger-inner"></div>
      </div>
    </div>
  </div>
</header>
