$white-color: #ffffff;
$black-color: #000000;

$main-text-color: #2c4058;
$icon-font-color: #7e5aff;
$accent-color: #55b7ff;
$inactive-color: #4b5562;

$white-color-04: rgba(255, 255, 255, 0.4);
$white-color-07: rgba(255, 255, 255, 0.7);
