@use './colors' as *;
@use './fonts' as *;
@use './functions' as *;
@use './media-mixins' as *;
@use './mixins' as *;
@use './variables' as *;

%heading {
  @include fonts($f-weight: $fw-bold, $l-height: 1.219, $t-transform: uppercase);
  @include responsive-font(20, 44);
  position: relative;
  @include for-desktop-up {
    font-size: 2.75rem;
  }
}

%colored-rectangle {
  @include width-height($full-width, $full-height);
  display: flex;
  position: absolute;
  content: '';
  top: -9.5%;
  max-width: 100vw;
  max-height: 470px;
  z-index: -20;

  @include for-phone-only {
    display: none;
  }
}

%description {
  @include fonts($f-family: font('opn-sns'));
  @include responsive-font(16, 18);
  @include for-desktop-up {
    font-size: 1.125rem;
  }
  @include for-phone-only {
    font-size: 1rem;
  }
}
